# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


##cut the real crap

#dirs

autom4te.cache/
m4/
config/
src/commonui/.deps/
src/dbus/.deps/
src/engine/.deps/
src/engine/ftp/.deps/
src/engine/http/.deps/
src/engine/sftp/.deps/
src/engine/storj/.deps/
src/fzshellext/autom4te.cache/
src/interface/.deps/
src/interface/settings/.deps/
src/interface/wxext/.deps/
src/putty/.deps/
src/putty/unix/.deps/
src/putty/windows/.deps/
src/putty/.deps/
src/pugixml/.deps/
src/storj/.deps/
tests/.deps/

#config
*.in
*.m4
*.sh
src/fzshellext/64/libtool
src/fzshellext/32/libtool
src/fzshellext/32/config.h
src/fzshellext/64/config.h
configure
libtool

#crap
*.log
*.status
*.Plo
*.Po
*.dirstamp
*stamp-h1
src/interface/resources/MacInfo.plist

#make

locales/Makefile
Makefile
data/Makefile
src/commonui/Makefile
src/dbus/Makefile
src/engine/Makefile
src/fzshellext/32/Makefile
src/fzshellext/64/Makefile
src/include/Makefile
src/interface/Makefile
src/interface/resources/blukis/Makefile
src/interface/resources/classic/Makefile
src/interface/resources/cyril/16x16/Makefile
src/interface/resources/cyril/Makefile
src/interface/resources/default/Makefile
src/interface/resources/flatzilla/Makefile
src/interface/resources/lone/Makefile
src/interface/resources/Makefile
src/interface/resources/minimal/Makefile
src/interface/resources/opencrystal/Makefile
src/interface/resources/sun/Makefile
src/interface/resources/tango/Makefile
src/Makefile
src/pugixml/Makefile
src/putty/Makefile
src/storj/Makefile
tests/Makefile

